name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

env:
  SNAPSHOT_TESTING_RECORD: "never"

jobs:
  macos:
    name: macOS
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        platform:
          - macOS
        swift:
          - "6.0"
          - "6.1"
          - "6.2"
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5

      - name: Run Tests
        uses: mxcl/xcodebuild@v3
        with:
          platform: ${{ matrix.platform }}
          swift: ~${{ matrix.swift }}
          action: test
          verbosity: xcbeautify

  linux:
    name: Linux (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        swift:
          - "6.0"
          - "6.1"
          - "6.2"
    container:
      image: swift:${{ matrix.swift }}
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5

      - name: Run Tests
        run: swift test

  # NB: 5.9 snapshot unavailable, wait for release
  # wasm:
  #   name: Wasm
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       include:
  #         - { toolchain: wasm-5.9-RELEASE }
  #   steps:
  #     - uses: actions/checkout@v4
  #     - run: echo "${{ matrix.toolchain }}" > .swift-version
  #     - uses: swiftwasm/swiftwasm-action@v5.9
  #       with:
  #         shell-action: carton test --environment node

  # NB: 5.9 snapshot outdated, wait for release
  # windows:
  #   name: Windows
  #   runs-on: windows-latest
  #   steps:
  #     - uses: compnerd/gha-setup-swift@main
  #       with:
  #         branch: swift-5.9-release
  #         tag: 5.9-DEVELOPMENT-SNAPSHOT-2023-09-16-a
  #     - uses: actions/checkout@v4
  #     - name: Run tests
  #       run: swift test
